#svg_editor {
    background: none;
}

#menu_bar {
    padding: 0;
    background: rgba(255, 255, 255, 0.25);
}

#menu_bar > :first-child {
    width: 175px;
}

#menu_bar.active .menu.open .menu_title,
.menu_list {
    background: #f88;
}

.menu_title {
    color: black;
    padding: 10px;
}

#tools_left {
    top: 36px;
    left: 175px;
}

#rulers #ruler_corner {
    top: 36px;
    left: 225px;
}

#ruler_x {
    top: 36px;
    left: 241px;
}

#ruler_y {
    top: 36px;
    left: 225px;
}

div#workarea {
    top: 36px;
    left: 225px;
}

#tools_bottom {
    left: 225px;
}

#tools_top {
    top: 36px;
}

#cur_context_panel {
    left: 242px;
}
