/* Colors */

body {
    background: #23469a;
    background: -moz-linear-gradient(top,  #23469a 0%, #10abfb 100%, #cdeaf7 100%);
    background: -webkit-linear-gradient(top,  #23469a 0%,#10abfb 100%,#cdeaf7 100%);
    background: linear-gradient(to bottom,  #23469a 0%,#10abfb 100%,#cdeaf7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23469a', endColorstr='#cdeaf7',GradientType=0 );
}

#svg_editor {
    background: none;
}

#svgcanvas {
    background: none;
}

div#workarea {
    background: rgba(255, 255, 255, 0.2);
}

#tools_bottom {
    background: none;
}

#tools_top {
    background: none;
}

#menu_bar {
    padding: 0;
    background: white;
}

.menu_title {
    color: black;
}

.draginput {
    background: rgba(255, 255, 255, 0.2);
}

.draginput input,
.draginput span {
    color: white;
}

#tool_angle_indicator_cursor,
.draginput_cursor {
    border-color: rgba(255, 255, 255, 0.8);
}

.draginput .caret {
    border-top-color: rgba(255, 255, 255, 0.8);
}

#tools_left {
    background: none;
}

#tools_left .tool_button.loaded {
    background: none;
}

#tools_left .tool_button.loaded svg {
    fill: white;
}

#tools_left .tool_button:hover svg {
    fill: black;
}

#tools_left .tool_button_current {
    background: #1db7f5;
}

#tools_left .tool_button_current svg {
    fill: white;
}

#tool_fhpath,
#tool_line,
#tools_shapelib_show,
#tool_text {
    display: none !important;
}

.draginput_cell {
    border-color: transparent;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
}

#menu_bar.active .menu.open .menu_title,
.menu_list {
    background: #f88;
}





/* Layout */

#menu_bar > :first-child {
    width: 175px;
}

.menu_title {
    padding: 10px;
}

#tools_left {
    top: 36px;
    left: 175px;
    width: auto;
    height: 36px;
}

#tools_left > div {
    display: inline-block;
    border: none;
    vertical-align: top;
    border-radius: 100%;
    margin: 4px;
}

#tools_left > div > svg {
    width: 100%;
    height: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#tools_left .tool_button:after, #tools_left .tool_button_current:after {
    display: none;
}

#tools_left > #color_tools {
    margin: 0;
    width: 36px;
    height: 36px;
}

#tool_fill .color_block {
    width: 20px;
    height: 20px;
}

#color_tools #tool_stroke .color_block {
    width: 20px;
    height: 20px;
}

#stroke_color:after {
    width: 6px;
    height: 6px;
}

#rulers {
    display: none;
}

#rulers #ruler_corner {
    top: 72px;
    left: 175px;
}

#ruler_x {
    top: 72px;
    left: 175px;
}

#ruler_y {
    top: 72px;
    left: 175px;
}

div#workarea {
    top: 72px;
    left: 175px;
}

#tools_bottom {
    left: 175px;
}

#tools_top {
    top: 72px;
    bottom: 0;
    height: auto;
    overflow: auto;
}

#cur_context_panel {
    left: 242px;
}

#zoom {
    vertical-align: middle;
}




/* Custom styles */

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    border-radius: 999px;
    font-size: 16px;
    line-height: 22px;
    outline: none;
    color: white;
    border: 2px solid white;
    background-color: rgba(9, 85, 199, 0.5);
    box-shadow: inset 0 1px 2px #333;
    vertical-align: top;
}

/* Important Note
 * https://css-tricks.com/almanac/selectors/p/placeholder/#comment-864116 */

.input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
}

.input::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
}

.input:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
}

.input:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
}





.button {
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid white;
    border-radius: 999px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    padding: 0;
    text-decoration: none;
    color: white;
}
