.abs-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.w175 {
    width: 175px;
}

.white {
    background: white;
}

.z5 {
    z-index: 5;
}

.o25 {
    opacity: 0.25;
}

.no-pointer-events {
    pointer-events: none;
}
