/* This module should come first in order to allow other
 * modules overwhite display: block */
/* References
 *
 * http://zzzzbov.com/blag/scalable-videos-with-aspect-ratio
 * http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio
 * https://www.w3.org/TR/CSS2/box.html#propdef-padding-top
 * > Percentages: refer to width of containing block
 */
.expand-1-1,
.expand-1-2,
.expand-1-3,
.expand-2-1,
.expand-2-3,
.expand-3-1,
.expand-3-2,
.expand-3-4,
.expand-4-3,
.expand-9-16,
.expand-16-9 {
    /*
      max-width: 100%;
      */
    display: block;
    position: relative;
    /*
      > * {
          !*display: block;*!
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }
      */
}
.expand-1-1:before,
.expand-1-2:before,
.expand-1-3:before,
.expand-2-1:before,
.expand-2-3:before,
.expand-3-1:before,
.expand-3-2:before,
.expand-3-4:before,
.expand-4-3:before,
.expand-9-16:before,
.expand-16-9:before {
    content: '';
    display: block;
}
.expand-1-1:before {
    padding-top: 100%;
}
.expand-1-2:before {
    padding-top: 200%;
}
.expand-1-3:before {
    padding-top: 300%;
}
.expand-2-1:before {
    padding-top: 50%;
}
.expand-2-3:before {
    padding-top: 150%;
}
.expand-3-1:before {
    padding-top: 33.33%;
}
.expand-3-2:before {
    padding-top: 66.66%;
}
.expand-3-4:before {
    padding-top: 133.33%;
}
.expand-4-3:before {
    padding-top: 75%;
}
.expand-9-16:before {
    padding-top: 177.77%;
}
.expand-16-9:before {
    padding-top: 56.25%;
}


.c {
    text-align: center;
}

.r {
    text-align: right;
}

.oa {
    overflow: auto;
}

.vm {
    vertical-align: middle;
}

.vt {
    vertical-align: top;
}

.box {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.box16 {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
}

.border-box {
    box-sizing: border-box;
}

.block {
    display: block;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.abs-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.abs-box-image {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.t2 {
    top: 2px;
}

.l7 {
    left: 7px;
}

.p0 {
    padding: 0;
}

.p5 {
    padding: 5px;
}

.ph5 {
    padding-left: 5px;
    padding-right: 5px;
}

.p10 {
    padding: 10px;
}

.pr28 {
    padding-right: 28px;
}

.pt100p {
    padding-top: 100%;
}

.pt0 {
    padding-top: 0;
}

.m0 {
    margin: 0;
}

.ww {
    width: 100%;
}

.w35 {
    width: 35px;
}

.w50 {
    width: 50px;
}

.w175 {
    width: 175px;
}

.black15 {
    background: rgba(0, 0, 0, 0.15);
}

.white {
    background: white;
}

.z1 {
    z-index: 1;
}

.z5 {
    z-index: 5;
}

.o0 {
    opacity: 0;
}

.o25 {
    opacity: 0.25;
}

.o50 {
    opacity: 0.5;
}

.o100 {
    opacity: 1;
}

.no-pointer-events {
    pointer-events: none;
}

.border5-transparent {
    border: 5px solid transparent;
}

.border5-transparent {
    border: 5px solid transparent;
}

.border10-transparent {
    border: 10px solid transparent;
}

.m5 {
    margin: 5px;
}

.mg5 > :nth-child(n+2) {
    margin-top: 5px;
}

.mg10 > :nth-child(n+2) {
    margin-top: 10px;
}

.mig5 > :nth-child(n+2) {
    margin-left: 5px;
}

.bs5 {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
}

.bs10 {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
}

.br5 {
    border-radius: 5px;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* display-flex */

/* References
 *
 * https://github.com/philipwalton/flexbugs
 * https://scotch.io/tutorials/a-visual-guide-to-css3-flexbox-properties
 */

.flex,
.flex-rows,
.flex-rows-center,
.flex-cols,
.flex-cols-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-rows,
.flex-rows-center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}

.flex-cols-center,
.flex-rows-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.flex-cols,
.flex-cols-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.flex-grow {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.flex-align-start { -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; -ms-grid-row-align: flex-start; align-items: flex-start; }
.flex-align-end { -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; -ms-grid-row-align: flex-end; align-items: flex-end; }
.flex-align-center { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; }
.flex-align-baseline { -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; -ms-grid-row-align: baseline; align-items: baseline; }
.flex-align-stretch { -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; -ms-grid-row-align: stretch; align-items: stretch; }

.flex-justify-start { -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }
.flex-justify-end { -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }
.flex-justify-center { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.flex-justify-between { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.flex-justify-around { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }

.flex-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.flex-nowrap {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}

.flex-wrap-rev {
    -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
}

/* http://compass-style.org/reference/compass/utilities/general/clearfix/ */

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.transition-opacity-1000ms {
    -webkit-transition: opacity 1000ms;
    transition: opacity 1000ms;
}

.transition-opacity-250ms {
    -webkit-transition: opacity 250ms;
    transition: opacity 250ms;
}

.cursor-auto {
    cursor: auto;
}

.xd-force { display: none !important; }
